footer {
  color: green;
}


body   {
	background-color: #FFFFFF;
	text-shadow: 0px 0px #970002;
	background-image: -webkit-linear-gradient(270deg,rgba(255,249,249,1.00) 0%,rgba(252,248,246,1.00) 0%,rgba(255,0,0,1.00) 0%,rgba(34,209,9,1.00) 0%,rgba(30,212,9,1.00) 100%,rgba(255,255,255,1.00) 100%,rgba(255,0,0,1.00) 100%);
	background-image: -moz-linear-gradient(270deg,rgba(255,249,249,1.00) 0%,rgba(252,248,246,1.00) 0%,rgba(255,0,0,1.00) 0%,rgba(34,209,9,1.00) 0%,rgba(30,212,9,1.00) 100%,rgba(255,255,255,1.00) 100%,rgba(255,0,0,1.00) 100%);
	background-image: -o-linear-gradient(270deg,rgba(255,249,249,1.00) 0%,rgba(252,248,246,1.00) 0%,rgba(255,0,0,1.00) 0%,rgba(34,209,9,1.00) 0%,rgba(30,212,9,1.00) 100%,rgba(255,255,255,1.00) 100%,rgba(255,0,0,1.00) 100%);
	background-image: linear-gradient(180deg,rgba(255,249,249,1.00) 0%,rgba(252,248,246,1.00) 0%,rgba(255,0,0,1.00) 0%,rgba(34,209,9,1.00) 0%,rgba(30,212,9,1.00) 100%,rgba(255,255,255,1.00) 100%,rgba(255,0,0,1.00) 100%);
	-webkit-box-shadow: 0px 0px #FFFFFF;
	box-shadow: 0px 0px #FFFFFF;
	color: #FFFFFF;
}
main header h1 {
	color: #0900E9;
}



nav {
	border-style: solid;
	border-width: 10px;
	font-size: 36px;
	text-indent: 28px;
	text-decoration: overline;
	color: #2B00DD;
	background-color: #FFFD16;
	border-radius: 3px;
	margin-top: 0px;
	margin-right: 331px;
	margin-left: 73px;
}

.mainArticle {
	
	padding-bottom: 5%;
	padding-top: 5%;
	padding-right: 5%;
	padding-left: 5%;
	background-image: -webkit-linear-gradient(270deg,rgba(60,207,0,1.00) 0%,rgba(255,255,255,0.04) 100%);
	background-image: -moz-linear-gradient(270deg,rgba(60,207,0,1.00) 0%,rgba(255,255,255,0.04) 100%);
	background-image: -o-linear-gradient(270deg,rgba(60,207,0,1.00) 0%,rgba(255,255,255,0.04) 100%);
	background-image: linear-gradient(180deg,rgba(60,207,0,1.00) 0%,rgba(255,255,255,0.04) 100%);
}	

p {
	font-size: 25px;
	color: #FF0004;
	width: 519px;
	height: auto;
	margin-top: 0px;
	margin-right: 0px;
	top: auto;
}
h2 {
	color: #F0E712;
	border-width: medium;
	background-color: #FFFFFF;
	-webkit-box-shadow: 0px 0px #FFFFFF;
	box-shadow: 0px 0px #FFFFFF;
	margin-top: 30px;
	margin-right: 537px;
	margin-left: 25px;
	margin-bottom: 25px;
	background-image: -webkit-linear-gradient(270deg,rgba(0,33,192,1.00) 0%,rgba(23,29,174,1.00) 100%,rgba(255,0,0,1.00) 100%);
	background-image: -moz-linear-gradient(270deg,rgba(0,33,192,1.00) 0%,rgba(23,29,174,1.00) 100%,rgba(255,0,0,1.00) 100%);
	background-image: -o-linear-gradient(270deg,rgba(0,33,192,1.00) 0%,rgba(23,29,174,1.00) 100%,rgba(255,0,0,1.00) 100%);
	background-image: linear-gradient(180deg,rgba(0,33,192,1.00) 0%,rgba(23,29,174,1.00) 100%,rgba(255,0,0,1.00) 100%);
}
aside {

}
